<!DOCTYPE html>
<% include header %>
<%= title %>
<script type="text/javascript">
function drop(e) {
    e.stopPropagation();
    e.preventDefault();
    const length = e.dataTransfer.items.length;
    for(var i = 0; i < length; i++) {
        const entry = e.dataTransfer.items[i].getAsFile();
        $('div#datas').append(`<div>${entry.name}</div>`);
    }
}
</script>
<div id="droppable" droppable="true" ondrop="drop(event)" ondragenter="return false" ondragover="return false" style="border:gray solid 1em; padding: 2em;">drop here.</div>
<HR />
<div id="datas"></div>
<div>追加</div>
<% include footer %>