<!DOCTYPE html>
<% include header %>
<link rel="stylesheet" href="stylesheets/indexstyle.css" />
<div class="large-button">
    <a href="./inst?g=w">木管</a>
</div>
<div class="large-button">
    <a href="./inst?g=b">金管</a>
</div>
<div class="large-button">
    <a href="./inst?g=p">打楽器</a>
</div>
<% include footer %>