<!DOCTYPE html>
<% include header %>
<link rel="stylesheet" href="stylesheets/inst.css" />
<script type="text/javascript">
    function seti_id(i_id, i_name){
        $('div#piece_list').append(`<div class="i_name">${i_name}</div>`);
        $.get(`./inst/pieces?i_id=${i_id}`, (res) => {
            $('#piece_back').addClass('piece_show');
            $('#piece_container').addClass('piece_show');
            
            res.sort((a,b) => {
                if(a.p_id < b.p_id) return -1;
                if(a.p_id > b.p_id) return 1;
                return 0;
            });
            res.forEach((val) => {
                console.log(val);
                $('div#piece_list').append(`<div class="general_list" onClick="askNum(${val.p_id},${i_id}, '${val.title}')">${val.title}</div>`);
            });
        })
    }
    function piece_back(){
        $('#piece_container').removeClass('piece_show');
        $('#piece_back').removeClass('piece_show');
        $('#piece_list').text('');
    }
    
    function askNum(p_id, i_id, title){
        $('div#num').append(`<div class="p_title">${title}</div>`);
        $('#num_container').addClass('num_show');
        $('#num_back').addClass('num_show');
        $.get(`./inst/num?i_id=${i_id}&p_id=${p_id}`, (res) => {
            res.forEach((val) => {
                $('div#num').append(`<div class="general_list" onClick="enqueue(${i_id}, ${p_id}, ${val.i_num})">${val.i_num}</div>`);
            })
        })
    }
    function num_back(){
        $('#num_container').removeClass('num_show');
        $('#num_back').removeClass('num_show');
        $('#num').text('');
    }
    
    function enqueue(i_id, p_id, num){
        $('div#piece_container').removeClass('piece_show');
        $('div#piece_list').text('');
        $('div#num_container').removeClass('num_show');
        $('div#num').text('');
        $('div#queue').append(`<div i_id=${i_id} p_id=${p_id} num=${num}>${i_id} ${p_id} ${num}</div>`);
    }
    
    function do_print(){
        $('div#queue').find('div').each((index, val) => {
            const i_id = $(val).attr('i_id');
            const p_id = $(val).attr('p_id');
            const num = $(val).attr('num');
            $.get(`./print?i_id=${i_id}&p_id=${p_id}&num=${num}`, (res) => {
                console.log(res);
            });
        });
        $('div#queue').text('');
    }
</script>
<div id="queue_box">
    <div id="queue"></div>
    <div id="print_button" onClick="do_print()">print out!</div>
</div>
<div id="inst_list">
    <% instruments.forEach((inst) => { %>
        <div class="button" onClick="seti_id(<%= inst.i_id %>, '<%= inst.i_name %>')"><%= inst.i_name %></div>
    <% }); %>
</div>
<div id="piece_container">
    <div id="piece_list"></div>
    <div id="piece_back" onClick="piece_back()">もどる</div>
</div>
<div id="num_container">
    <div id="num"></div>
    <div id="num_back" onClick="num_back()">もどる</div>
</div>
<% include footer %>