#queue_box {
    border: 1px solid black;
    position: absolute;
    bottom: -2px;
    padding: 3px;
}

#inst_list {
    position: absolute;
}

#piece_list {
    position: absolute;
    border: 1px solid black;
    opacity: 0;
}

#num {
    position: absolute;
    border: 1px solid black;
    opacity: 0;
}

.piece_show {
    opacity: 1 !important;
    background-color: lightpink;
    z-index: 10;
}

.num_show {
    opacity: 1 !important;
    background-color: lightskyblue;
    z-index: 15;
}